@{
    ViewBag.Title = "Play";
}

<div class="row" id="gameContainer">
    <br>
    <div class="col-md-2 col-sm-3 text-center">
        <img id="HangmanSituation" alt="" src="~/Content/khangman.png" style="width: 80px; height: 80px" class="img-rounded">
    </div>
    <div class="col-md-10 col-sm-9">
        <h2 data-bind="text: phraseDisplay"></h2>
        <small style="font-family: courier, 'new courier';" class="text-muted">You have <span data-bind="text: attemptsRemaining"></span> guesses left</small>
        <br/>
        <br/>
        <div class="row">
            <div class="col-xs-3">
                Enter Your Guess Here:
            </div>
            <div class="col-xs-4">
                <div class="form-group">
                    <input class="form-control" data-bind="value: letterGuess, valueUpdate: 'keyup'" maxlength="1"/>
                    <button class="btn btn-primary btn-sm" data-bind="click: guessLetter, enable: letterGuess().length > 0">Guess</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/game")
}